<!DOCTYPE html>
<html ng-app="store">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body ng-controller="StoreController as store">
    <!-- Angular 1.4.7 -->
    <script type="text/javascript" src="/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/products.js"></script>

    <ul class="list-group col-md-4">
        <li class="list-group-item" ng-repeat="product in store.products">
            <h3>
                <product-title></product-title>
            </h3>
            <product-panels></product-panels>
        </li>
    </ul>
</body>

</html>
