<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active:panel.isSelected(1) }">
            <a href ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{ active:panel.isSelected(2) }">
            <a href ng-click="panel.selectTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active:panel.isSelected(3) }">
            <a href ng-click="panel.selectTab(3)">Reviews</a>
        </li>
    </ul>
    <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Description</h4>

        <p>{{product.description}}</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
        <blockquote>None yet</blockquote>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
        <h4>Reviews</h4>
        <blockquote ng-repeat="review in product.reviews">
            <b>Stars {{review.stars}}</b>
            {{review.body}}
            <cite>by {{review.author}} on {{review.createdOn | date}}</cite>
        </blockquote>
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <blockquote>
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                {{reviewCtrl.review.body}}
                <cite>by: {{reviewCtrl.review.author}}</cite>
            </blockquote>
            <fieldset class="form-group">
                <select class="form-control" ng-model="reviewCtrl.review.stars" required>
                    <option value="1">1 stars</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
            </fieldset>
            <label>by:</label>
            <fieldset class="form-group">
                <input class="form-control" ng-model="reviewCtrl.review.author" type="email" required/>

                <div> reviewForm is {{reviewForm.$valid}}</div>
            </fieldset>
            <input class="btn btn-default" type="submit" value="submit"/>
        </form>
    </div>
</section>